---
import workData from "../scripts/workData";
// import projectData from "../scripts/projectData";
// import skillsData from "../scripts/skillsData";
// import ProjectSlider from "../components/ProjectSlider";
// import WorkEx from "../components/WorkEx.astro";
import MOImage from "../assets/images/m.o.png";
// import Skills from "../components/Skills.astro";
import RecentPosts from "../components/RecentPosts.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Socials from "../components/Socials.astro";

const socials = [
  {
    href: "https://github.com/marvinobig",
    text: "Github",
  },
  {
    href: "https://marvinobig.online/rss.xml",
    text: "RSS Feed",
  },
];
---

<style>
  header {
    border: 2px solid #272727;
  }

  header > section {
    display: flex;
  }

  header > section > img {
    max-width: 50%;
    object-fit: cover;
  }

  header > section > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    max-width: 50%;
    padding: 20px;
  }

  header p {
	padding-top: 20px;
  }

  a {
    color: #272727;
    font-weight: bolder;
  }

  @media screen and (max-width: 768px) {
    header > section {
      flex-direction: column-reverse;
      gap: unset;
    }

    header > section > img,
    header > section > div {
      max-width: unset;
    }
  }

  @media (prefers-color-scheme: dark) {
    header {
      border: 2px solid #fcfcfc;
    }

    a {
      color: #fcfcfc;
    }
  }
</style>

<BaseLayout pageTitle="Portfolio">
  <header>
    <section>
      <div>
        <div>
          <h1>HI, I'M MARVIN</h1>
          <p>
            I'm a Fullstack Software Developer with 2 years of professional
            experience. 
          </p>
          <p>
            Use the <a href="#contact">contact form</a> below to get
            in touch. If you prefer another communication method, my LinkedIn is
            linked below.
          </p>
          <!-- <Skills skills={skillsData} /> -->
        </div>

        <Socials socials={socials} />
      </div>
      <img src={MOImage} alt="marvin obig" />
    </section>
  </header>
  <!-- <WorkEx workData={workData} />
	<ProjectSlider projects={projectData} client:only="react" /> -->
  <RecentPosts />
</BaseLayout>
