---
import Skills from "./Skills.astro";
const { workData } = Astro.props;
---

<style>
    article > section {
        display: flex;
        align-items: start;
        gap: 20px;
        overflow-x: scroll;
        overflow-y: hidden;
        padding-bottom: 20px;
    }

    article > section > div {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        min-height: 192px;
        min-width: 635px;
        max-width: 635px;
        padding: 20px;
        border: 2px solid #272727;
    }

    article > section > div > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    @media screen and (max-width: 768px) {
        article > section > div {
            min-width: 335px;
            max-width: 335px;
        }
    }
</style>

<article>
    <h2>Work Experience</h2>

    <section>
        {
            workData.map((work) => (
                <div>
                    <div>
                        <h3>
                            {work.title} - {work.company}
                        </h3>
                        <p class="date">
                            {work.time[0]} - {work.time[1]}
                        </p>
                        <ul>
                            {work.achievements.map((achievement) => (
                                <li>{achievement}</li>
                            ))}
                        </ul>
                    </div>
                    <Skills skills={work.skillsUsed} />
                </div>
            ))
        }
    </section>
</article>
