---
import Skills from "./Skills.astro";
const { workData } = Astro.props;
---

<style>
    article {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    section {
        border: 1px solid #272727;
        padding: 20px;
    }
</style>

<article>
    <h2>Work Experience</h2>

    <section>
        {
            workData.map((work) => (
                <div>
                    <h3>
                        {work.title} - {work.company}
                    </h3>
                    <div>
                        <p>
                            {work.time[0]} - {work.time[1]}
                        </p>
                        <ul>
                            {work.achievements.map((achievement) => (
                                <li>{achievement}</li>
                            ))}
                        </ul>
                    </div>
                    <Skills skills={work.skillsUsed}/> 
                </div>
            ))
        }
    </section>
</article>
