---
// import "../styles/global.css";
import Head from "../components/Head.astro";
import Navigation from "../components/Navigation.astro";
import PostTags from "../components/PostTags.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<html lang="en">
	<Head pageTitle="Blog" />
	<body>
		<Navigation />

		<h1>Posts</h1>

		<section>
			{
				allPosts.map((post) => (
					<div>
						<img
							src={post.frontmatter.image.url}
							alt={post.frontmatter.image.alt}
						/>
						<div>
							<a href={post.url}>{post.frontmatter.title}</a>
							<p>{post.frontmatter.summary}</p>
							<PostTags tags={post.frontmatter.tags} />
						</div>
					</div>
				))
			}
		</section>
	</body>
</html>
