---
import { getCollection } from "astro:content";
import PostTags from "../components/PostTags.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = await getCollection("blog");
---

<BaseLayout pageTitle="Blog">
	<main>
		<h1>Posts</h1>

		<article>
			{
				allPosts.map((post) => (
					<section>
						<img
							src={post.data.image.url}
							alt={post.data.image.alt}
						/>
						<div>
							<a href={`/posts/${post.slug}`}>
								{post.data.title}
							</a>
							<p>{post.data.summary}</p>
							<PostTags tags={post.data.tags} />
						</div>
					</section>
				))
			}
		</article>
	</main>
</BaseLayout>
